{% extends 'blog/base.html' %}

 {% block content %}


    {% for post in posts %}


    {{ post }}


{% endfor %}
<hr>
</div>

{% for post in posts %}

<div>
     <p>published: {{ post.published_date }}</p>

        <h1><a href="">{{ post.title }}</a></h1>

        <p>{{ post.text|linebreaksbr }}</p>
</div>
<hr>

{% endfor %}

 <p>Це вже не просто строка, а HTML сторінка post_list_blog.</p>
<hr>

<div>
<!--    CSS -->
    <div class="content container">
    <div class="row">
        <div class="col-md-8">

{% for post in posts %}
    <article>
        <div class="post">
        <div  class="card mb-4 p-3">
        <small class="text-muted">{{ post.published_date|date:"d.m.Y H:i" }}</small>

        <h2>{{ post.title }}</h2>

        <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
    </article>

    <hr>

{% empty %}
    <p>No posts yet.</p>
{% endfor %}
            {% endblock %} 
            </div>
        </div>
        </div>
    </div>
    </div>





